    <!-- ========= start header ========= -->
    <header class="bg-main p-5">
        <div class="container">
            <div class="box text-center">
                <div class="image">
                    <img class="w-100" src="./assets/image/avataaars.svg" alt="photo">
                </div>
                <h1>START ANGULAR</h1>
                <div class="custom">
                    <div class="image">
                        <i class="fa-solid fa-star text-white fs-3"></i>
                    </div>
                    <span></span>
                </div>
                <p class="fs-20 lh-30 fw-500 text-white">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </header>
    <!-- ========= end header ========= -->