    <!-- ========= start information ========= -->
    <section class="py-5 info bg-sec">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="box text-center">
                        <h3 class="fs-25 lh-30 fw-700 ff-m text-white mb-4">LOCATION</h3>
                        <p class="fs-20 lh-30 fw-400 text-white m-0">2215 John Daniel Drive</p>
                        <p class="fs-20 lh-30 fw-400 text-white m-0">Clark, MO 65243</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box text-center">
                        <h3 class="fs-25 lh-30 fw-700 ff-m text-white mb-4">AROUND THE WEB</h3>
                       <ul class="d-flex justify-content-center align-items-center gap-2">
                            <li><a href="#"><i class="fab fa-facebook-f fs-3"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter fs-3"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in fs-3"></i></a></li>
                            <li><a href="#"><i class="fas fa-globe fs-3"></i></a></li>
                       </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box text-center">
                        <h3 class="fs-25 lh-30 fw-700 ff-m text-white mb-4">ABOUT FREELANCER</h3>
                        <p class="fs-20 lh-30 fw-400 text-white m-0">Freelance is a free to use, MIT</p>
                        <p class="fs-20 lh-30 fw-400 text-white m-0">licensed Bootstrap theme created by Route</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========= end information ========= -->